*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
:root{
    --title-font-color:#ffffff;
    --title-font-size:50px;
    --title-font-weight:700;
    --title-font-line-height:60px;

    --desc-font-color: #af9b9d;
    --desc-font-size: 20px;
    --desc-font-weight: 500;
    --desc-line-height: 36px;

    --btn-color: linear-gradient(198deg, rgba(183, 92, 255, 1) 100%, rgba(103, 26, 228, 1) 100%);

}
 body{
   
     background: linear-gradient(90deg, rgba(152, 77, 56, 1) 0%, rgba(24, 30, 65, 1) 63%);
     /* width:100vw; */
     /* height: 100vh; */
     padding-left:64px ;
     padding-right: 106px;
 }

 /* Header */
 .header-container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    /* border: 1px solid red; */
    gap: 10px;
 }
 .header-left{
    /* border: 1px solid rgb(171, 207, 64); */
    width: 50%;
    padding-right: 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
 }
 .header-container span{
    /* border: 1px solid white; */
    background-color: #FFFFFF;
    opacity: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    width: 26vw;
    border-radius: 10px;
 }
 #span-input{
    /* background-color: aqua; */
    color: brown;
    padding:2px 4px;
    width:26vw;
    border: none;
    font-size: 18px;
 }
 .header-right {
     /* border: 1px solid rgb(126, 34, 172); */
     width: 50%;
     padding: 10px 0px;
     display: flex;
     justify-content:end;
     align-items: center;
     gap: 80px;
 }

 .header-right a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
 }
 .header-right button{
    /* padding: 10px 20px; */
    width: 171px;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
 }
 /* End-header */
 /* Start-nav */
 nav{
    display: flex;
 }
.nav-left{
    /* border: 1px solid red; */
    width: 50%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 116px 0px 0px 0px;
}

#title-p{
    color:var(--title-font-color);
    font-size: 60px;
    width: 38vw;
    font-weight: 500;
    line-height: 10vh;
}
#desc-p{
    color: var(--desc-font-color);
    width:30vw;
    font-size: 20px;
}
#button-div{
    /* border: 1px solid red; */
    padding:20px 0px;
    display: flex;
    gap: 20px;
}
#button-div button{
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
      
}
#sellNFT{
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
}
.tripple-A{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}
.tripple-A h1{
    padding-left: 10px;
    color: var(--title-font-color);
}
.tripple-A p{
    color: var(--desc-font-color);
    font-size: 18px;
}
.tA-1,.tA-2,.tA-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* nav-right Image part */
.nav-right {
    /* border: 1px solid red; */
    width: 50%;
    height: 88vh;
    padding-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;

}
.nav-right img{
    border-radius: 10px;
}
.imageSet-1,.imageSet-2,.imageSet-3{
    /* border: 1px solid violet; */
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: baseline;
    gap: 10px;
    width: 200px;
    height: 78vh;
}
/* 1st column images */
img[src="./images/img-1.jpg"]{
    width:187px;
    height: 140px;
}
img[src="./images/img-2.jpg"] {
    width: 187px;
    height: 220px;
}
img[src="./images/img-3.jpg"] {
    width: 187px;
    height: 127px;
}
/* 2nd column images */
img[src="./images/img-4.jpg"] {
    width: 187px;
    height: 108px;
}

img[src="./images/img-5.jpg"] {
    width: 187px;
    height: 220px;
}

img[src="./images/img-6.jpg"] {
    width: 187px;
    height: 159px;
}
/* 3rd column images */
img[src="./images/img-8.jpg"] {
    width: 187px;
    height: 412px;
}
.imageSet-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imageSet-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 /* End-nav */
 /* logos rows */
 .logos-row{
    /* border: 1px solid red; */
    width: 100%;
    height: 34vh;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 200px;

 }
 /* end logo rows */
 /* about us */
 .about-us{
    /* border: 1px solid red; */
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .about-us h2{
    font-size: 34px;
    color: var(--title-font-color);
 }
 .about-us p{
    color: var(--desc-font-color);
    width: 24vw;
    text-align: center;
 }
 /* End-about us */
/* popular nft */
 .popular-nft{
    /* border: 1px solid red; */
    width: 100%;
    height: 94vh;
    display: flex;
    justify-content: center;
 }
 .nft-lhs{
/* border: 1px solid red; */
    width: 50%;
    display: flex;
    justify-content: start;
    
 }
 .nft-lhs img{
    width: 80%;
    height: 100%;
    border-radius: 10px;
 }
 .nft-rhs{
    /* border: 1px solid red; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 18px;
 }
 .nft-rhs h2{
    color: var(--title-font-color);
 }
 .nft-rhs p{
    color: var(--desc-font-color);
    font-size: 18px;
    width: 80vh;
    line-height: 30px;
 }
 .nft-rhs button{
    width: 152px;
    height: 50px;
    border-radius: 10px;
    font-size: 17px;
}
/* popular nft-end */
/* collection tabs and heading */
.collection-tab-container{
    border: 1px solid red;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 20px;
}
.collection-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.collection-heading h1{
    color: var(--title-font-color);
}
.collection-heading p{
        color: var(--desc-font-color);
        width: 25vw;
        text-align: center;
}
.collection-tabs{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    gap: 60px;
}
.collection-tabs button{
    border-radius: 10px;
    width: 288px;
    height: 40px;
    font-size: 20px;
    line-height: 30px;
    border: none;
    color: #FFFFFF;
    background-color:rgba(255, 255, 255, 0.1);
}
.collection-tabs button:hover{
    background:linear-gradient(198deg, rgba(183, 92, 255, 1) 0%, rgba(103, 26, 228, 1) 100%);
}
/* Cards and Card-row */

/* row1 */
.cards-Row{
    border: 1px solid red;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 80px;
}
.card{
    /* border:1px solid red; */
    background-color: var(--desc-font-color);
    width: 389px;
    height:584px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}
.text-area{
    /* border: 1px solid red; */
    width:337px;
    height:72px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.lhs-div{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.text-area p{
    color:var(--desc-font-color)
}
.text-area h4{
    color: var(--title-font-color);
}
.card img{
    width: 337px;
    height:380px;
    border-radius: 10px;
}
.card button{
    width: 337px;
    height: 50px;
    border-radius: 10px;
    font-size: 17px;
    color: #FFFFFF;
    border: none;
    background: linear-gradient(198deg, rgba(183, 92, 255, 1) 0%, rgba(103, 26, 228, 1) 100%);
}

/* End collection tabs and heading */
























 nav{
    /* border: 1px solid rgb(123, 198, 10); */
 }
 body{
    /* border: 1px solid rgb(46, 187, 31); */
 }